@use "../globals" as global;

$enabled: global.$enabled !default;
$prefix: global.$prefix !default;
$separator: global.$separator !default;
$important: global.$important !default;
$responsive: global.$responsive !default;
$screens: global.$screens !default;
$spacing: global.$spacing !default;

$base: "m";

$sides: (
  "t": "top",
  "l": "left",
  "r": "right",
  "b": "bottom",
);
