@use "config";
@use "../helpers";

@if config.$enabled {
  @each $name, $value in config.$spacing {
    #{helpers.make-selector(
      $base: "#{config.$base}-",
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      margin:
        $value
        helpers.important-rule(config.$important);
    }

    @each $side-short, $side in config.$sides {
      #{helpers.make-selector(
        $base: "#{config.$base}#{$side-short}-",
        $prefix: config.$prefix,
        $name: $name,
        $important: config.$important
      )} {
        margin-#{$side}:
          $value
          helpers.important-rule(config.$important);
      }
    }

    #{helpers.make-selector(
      $base: "#{config.$base}x-",
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      margin-left:
        $value
        helpers.important-rule(config.$important);
      margin-right:
        $value
        helpers.important-rule(config.$important);
    }

    #{helpers.make-selector(
      $base: "#{config.$base}y-",
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      margin-top:
        $value
        helpers.important-rule(config.$important);
      margin-bottom:
        $value
        helpers.important-rule(config.$important);
    }

    // Negatives

    @if $value != 0 and $value != auto {
      #{helpers.make-selector(
        $base: "-#{config.$base}-",
        $prefix: config.$prefix,
        $name: $name,
        $important: config.$important
      )} {
        margin:
          -$value
          helpers.important-rule(config.$important);
      }

      @each $side-short, $side in config.$sides {
        #{helpers.make-selector(
          $base: "-#{config.$base}#{$side-short}-",
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important
        )} {
          margin-#{$side}:
            -$value
            helpers.important-rule(config.$important);
        }
      }

      #{helpers.make-selector(
        $base: "-#{config.$base}x-",
        $prefix: config.$prefix,
        $name: $name,
        $important: config.$important
      )} {
        margin-left:
          -$value
          helpers.important-rule(config.$important);
        margin-right:
          -$value
          helpers.important-rule(config.$important);
      }

      #{helpers.make-selector(
        $base: "-#{config.$base}y-",
        $prefix: config.$prefix,
        $name: $name,
        $important: config.$important
      )} {
        margin-top:
          -$value
          helpers.important-rule(config.$important);
        margin-bottom:
          -$value
          helpers.important-rule(config.$important);
      }
    }
  }
}

@if config.$enabled and config.$responsive {
  @each $screen, $query in config.$screens {
    @media #{$query} {
      @each $name, $value in config.$spacing {
        #{helpers.make-selector(
          $base: "#{config.$base}-",
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          margin:
            $value
            helpers.important-rule(config.$important);
        }

        @each $side-short, $side in config.$sides {
          #{helpers.make-selector(
            $base: "#{config.$base}#{$side-short}-",
            $prefix: config.$prefix,
            $name: $name,
            $important: config.$important,
            $screen: $screen,
          $separator: config.$separator
          )} {
            margin-#{$side}:
              $value
              helpers.important-rule(config.$important);
          }
        }

        #{helpers.make-selector(
          $base: "#{config.$base}x-",
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          margin-left:
            $value
            helpers.important-rule(config.$important);
          margin-right:
            $value
            helpers.important-rule(config.$important);
        }

        #{helpers.make-selector(
          $base: "#{config.$base}y-",
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          margin-top:
            $value
            helpers.important-rule(config.$important);
          margin-bottom:
            $value
            helpers.important-rule(config.$important);
        }

        // Negatives

      @if $value != auto and $value != 0 {
        #{helpers.make-selector(
            $base: "-#{config.$base}-",
            $prefix: config.$prefix,
            $name: $name,
            $important: config.$important,
            $screen: $screen,
            $separator: config.$separator
          )} {
            margin:
              -$value
              helpers.important-rule(config.$important);
          }

          @each $side-short, $side in config.$sides {
            #{helpers.make-selector(
              $base: "-#{config.$base}#{$side-short}-",
              $prefix: config.$prefix,
              $name: $name,
              $important: config.$important,
              $screen: $screen,
            $separator: config.$separator
            )} {
              margin-#{$side}:
                -$value
                helpers.important-rule(config.$important);
            }
          }

          #{helpers.make-selector(
            $base: "-#{config.$base}x-",
            $prefix: config.$prefix,
            $name: $name,
            $important: config.$important,
            $screen: $screen,
            $separator: config.$separator
          )} {
            margin-left:
              -$value
              helpers.important-rule(config.$important);
            margin-right:
              -$value
              helpers.important-rule(config.$important);
          }

          #{helpers.make-selector(
            $base: "-#{config.$base}y-",
            $prefix: config.$prefix,
            $name: $name,
            $important: config.$important,
            $screen: $screen,
            $separator: config.$separator
          )} {
            margin-top:
              -$value
              helpers.important-rule(config.$important);
            margin-bottom:
              -$value
              helpers.important-rule(config.$important);
          }
        }
      }
    }
  }
}
