@use "sass:map";

// Returns merge of two or more maps into one

@function extend($extenders...) {
  $map: ();

  @each $extender in $extenders {
    $map: map.merge($map, $extender);
  }

  @return $map;
}
