@use "sass:string";
@use "sass:list";

// Dummy prefix selector function

@function prefix($selector-list, $prefix) {
  $prefixed-selector-list: ();

  // Iterate over selector-list
  @each $complex-selector in $selector-list {
    // Take first selector from the end
    $first-selector: list.nth($complex-selector, -1);

    // Insert prefix after class dot
    $prefixed-selector: string.insert($first-selector, $prefix, 2);

    // Set back to complex selector
    $prefixed-complex-selector: list.set-nth($complex-selector, -1, $prefixed-selector);

    // Append to prefixed selector list
    $prefixed-selector-list: list.append(
      $prefixed-selector-list,
      $prefixed-complex-selector,
      $separator: comma
    );
  }

  @return $prefixed-selector-list;
}
