@function strip-units($units) {
  @return $units / ($units * 0 + 1);
}

@function rem($units) {
  $number: strip-units($units);
  $rem: 1rem / 16 * $number;

  @return $rem;
}

@function em($units, $base: 16px) {
  $number: strip-units($units);
  $base-number: strip-units($base);
  $em: 1em / $base-number * $number;

  @return $em;
}
