@use "sass:map";
@use "../defaults";

$responsive: true !default;
$screens: defaults.$screens !default;

@mixin screen($breakpoint) {
  @media (min-width: map.get($screens, $breakpoint)) {
    @content;
  }
}

@function breakpoints() {
  @return map.keys($screens);
}
