@use "config";
@use "../helpers";

@if config.$enabled {
  @each $name, $value in config.$spacing {
    #{helpers.make-selector(
      $base: "#{config.$base}-",
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      padding:
        $value
        helpers.important-rule(config.$important);
    }

    @each $side-short, $side in config.$sides {
      #{helpers.make-selector(
        $base: "#{config.$base}#{$side-short}-",
        $prefix: config.$prefix,
        $name: $name,
        $important: config.$important
      )} {
        padding-#{$side}:
          $value
          helpers.important-rule(config.$important);
      }
    }

    #{helpers.make-selector(
      $base: "#{config.$base}x-",
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      padding-left:
        $value
        helpers.important-rule(config.$important);
      padding-right:
        $value
        helpers.important-rule(config.$important);
    }

    #{helpers.make-selector(
      $base: "#{config.$base}y-",
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      padding-top:
        $value
        helpers.important-rule(config.$important);
      padding-bottom:
        $value
        helpers.important-rule(config.$important);
    }
  }
}

@if config.$enabled and config.$responsive {
  @each $screen, $query in config.$screens {
    @media #{$query} {
      @each $name, $value in config.$spacing {
        #{helpers.make-selector(
          $base: "#{config.$base}-",
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          padding:
            $value
            helpers.important-rule(config.$important);
        }

        @each $side-short, $side in config.$sides {
          #{helpers.make-selector(
            $base: "#{config.$base}#{$side-short}-",
            $prefix: config.$prefix,
            $name: $name,
            $important: config.$important,
            $screen: $screen,
          $separator: config.$separator
          )} {
            padding-#{$side}:
              $value
              helpers.important-rule(config.$important);
          }
        }

        #{helpers.make-selector(
          $base: "#{config.$base}x-",
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          padding-left:
            $value
            helpers.important-rule(config.$important);
          padding-right:
            $value
            helpers.important-rule(config.$important);
        }

        #{helpers.make-selector(
          $base: "#{config.$base}y-",
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          padding-top:
            $value
            helpers.important-rule(config.$important);
          padding-bottom:
            $value
            helpers.important-rule(config.$important);
        }
      }
    }
  }
}
