@use "sass:map";
@use "../modules/variants";
@use "../modules/color";
@use "../modules/screen";

$enabled: true !default;
$variants: variants.$background-color !default;
$responsive: true !default;
$colors: color.$colors !default;

$colors: map.merge((
  "current": currentColor,
  "transparent": transparent
), $colors);

@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: $value !important;
  }
}

@each $variant in $variants {
  @each $color, $value in $colors {
    @if $variant == "group-hover" {
      .group:hover .group-hover\:bg-#{$color} {
        background-color: $value !important;
      }
    } @else if $variant == "group-focus" {
      .group:focus .group-focus\:bg-#{$color} {
        background-color: $value !important;
      }
    } @else {
      .#{$variant}\:bg-#{$color}:#{$variant} {
        background-color: $value !important;
      }
    }
  }
}

@if $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $color, $value in $colors {
        .#{$screen}\:bg-#{$color} {
          background-color: $value !important;
        }
      }

      @each $variant in $variants {
        @each $color, $value in $colors {
          @if $variant == "group-hover" {
            .group:hover .#{$screen}\:group-hover\:bg-#{$color} {
              background-color: $value !important;
            }
          } @else if $variant == "group-focus" {
            .group:focus .#{$screen}\:group-focus\:bg-#{$color} {
              background-color: $value !important;
            }
          } @else {
            .#{$screen}\:#{$variant}\:bg-#{$color}:#{$variant} {
              background-color: $value !important;
            }
          }
        }
      }
    }
  }
}
