@use "sass:map";
@use "../modules/color";

$enabled: true !default;
$colors: color.$colors !default;

@if $enabled {
  // Color

  $colors: map.merge((
    "current": currentColor,
    "transparent": transparent,
  ), $colors);

  @each $name, $value in $colors {
    .border-#{$name} {
      color: rgba($value, var(--border-opacity, 1)) !important;
    }
  }

  // Opacity

  $opacities: (0, 25, 50, 75, 100) !default;

  @each $value in $opacities {
    .border-opacity-#{$value} { --border-opacity: #{$value} !important; }
  }
}
