@use "../modules/border-width";
@use "../modules/screen";

$enabled: true !default;
$responsive: screen.$responsive !default;
$border-width: border-width.$border-width !default;
$sides: (
  "t": "top",
  "b":  "bottom",
  "l": "left",
  "r":  "right",
)!default;

@if $enabled {

  @each $scale, $value in $border-width {
    .border-#{$scale} {
      border-width: $value !important;
    }
    @each $side-short, $side in $sides {
      .border-#{$side-short}-#{$scale} {
        border-#{$side}-width: $value !important;
      }
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $scale, $value in $border-width {
        .#{$screen}\:border-#{$scale} {
          border-width: $value !important;
        }

        @each $side-short, $side in $sides {
          .#{$screen}\:border-#{$side-short}-#{$scale} {
            border-#{$side}-width: $value !important;
          }
        }
      }
    }
  }
}
