@use "sass:meta";
@use "sass:map";
@use "../modules/screen";
@use "../mixins/spacing" as mixin;

$responsive: true !default;
$enabled: true !default;
$center: true !default;
$padding: null !default;

$-is-padding-map: meta.type-of($padding) == map;
$-default-padding: if($-is-padding-map, map.get($padding, "default"), $padding);

@mixin -container {
  width: 100%;

  @if $center {
    @include mixin.margin-x(auto);
  }

  @if $-default-padding {
    @include mixin.padding-x($-default-padding);
  }

  @if $responsive {
    @each $screen, $value in screen.$screens {
      @include screen.screen($screen) {
        $screen-padding: if($-is-padding-map, map.get($padding, $screen), null);

        @if $screen-padding {
          @include mixin.padding-x($screen-padding);
        }

        max-width: $value;
      }
    }
  }
}

@if $enabled {
  .container {
    @include -container;
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      .#{$screen}\:container {
        @include -container;
      }
    }
  }
}
