@use "../modules/screen";
@use "../mixins";

$enabled: true !default;
$repsonsive: true !default;
$ratios: (
  "1\\:1": 1 / 1,
  "4\\:3": 4 / 3,
  "16\\:9": 16 / 9
) !default;

@if $enabled {
  @each $ratio, $value in $ratios {
    .embed-#{$ratio} {
      @include mixins.aspect-ratio($value);
    }
  }
}

@if $enabled and $repsonsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $ratio, $value in $ratios {
        .#{$screen}\:embed-#{$ratio} {
          @include mixins.aspect-ratio($value);
        }
      }
    }
  }
}
