@use "../modules/screen";

$enabled: true !default;
$responsive: true !default;

$-wrap-list: (
  wrap,
  wrap-reverse,
  nowrap
);

@if $enabled {
  @each $wrap in $-wrap-list {
    .flex-#{$wrap} {
      flex-wrap: $wrap !important;
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $wrap in $-wrap-list {
        .#{$screen}\:flex-#{$wrap} {
          flex-wrap: $wrap !important;
        }
      }
    }
  }
}
