@use "../modules/screen";

$enabled: true !default;
$responsive: true !default;

@if $enabled {
  // Flex 
  
  $flex: (
    "1": 1 1 0%,
    "auto": 1 1 auto,
    "initial": 0 1 auto,
    "none": none
  );

  @each $name, $value in $flex {
    .flex-#{$name} { flex: $value !important; }
  }

  // Order 

  @each $order in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
    .order-#{$order} { order: $order !important; }
  }

  .order-first {
    order: -9999;
  }

  .order-last {
    order: 9999;
  }

  .order-none {
    order: 0;
  }

  // Flex Grow 

  .flex-grow-0 {
    flex-grow: 0;
  }

  .flex-grow {
    flex-grow: 1;
  }

  // Flex Shrink

  .flex-shrink-0 {
    flex-shrink: 0;
  }

  .flex-shrink {
    flex-shrink: 1;
  }
}
