@use "../modules/screen";

$enabled: true !default;
$responsive: true !default;

$-direction-map: (
  "row": row,
  "row-reverse": row-reverse,
  "col": column,
  "col-reverse": column-reverse,
);

@if $enabled {
  @each $direction, $value in $-direction-map {
    .flex-#{$direction} {
      flex-direction: $value !important;
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $direction, $value in $-direction-map {
        .#{$screen}\:flex-#{$direction} {
          flex-direction: $value !important;
        }
      }
    }
  }
}
