@use "../modules/gap";
@use "../modules/screen";
@use "../mixins/spacing" as mix;

$enabled: true !default;
$responsive: true !default;
$scales: gap.$scales !default;

@if $enabled {
  @each $scale, $value in $scales {
    .flex-gap-#{$scale} {
      margin-left: -$value;
      margin-top: -$value;

      > * {
        margin-left: $value;
        margin-top: $value;
      }
    }

    .flex-gap-x-#{$scale} {
      margin-left: -$value;

      > * {
        margin-left: $value;
      }
    }

    .flex-gap-y-#{$scale} {
      margin-top: -$value;

      > * {
        margin-top: $value;
      }
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $scale, $value in $scales {
        .#{$screen}\:flex-gap-#{$scale} {
          margin-left: -$value;
          margin-top: -$value;
    
          > * {
            margin-left: $value;
            margin-top: $value;
          }
        }

        .#{$screen}\:flex-gap-x-#{$scale} {
          margin-left: -$value;

          > * {
            margin-left: $value;
          }
        }

        .#{$screen}\:flex-gap-y-#{$scale} {
          margin-top: -$value;

          > * {
            margin-top: $value;
          }
        }
      }
    }
  }
}
