// stylelint-disable block-opening-brace-space-before -- Aligning block declaration of selectors

@use "../modules/font";

$enabled: true !default;

@if $enabled {
  // Family

  $fonts: font.$fonts !default;

  @each $family, $value in $fonts {
    .font-#{$family} {
      font-family: $value !important;
    }
  }

  // Weight

  $font-weight: (
    "hairline":   100,
    "thin":       200,
    "light":      300,
    "normal":     400,
    "medium":     500,
    "semibold":   600,
    "bold":       700,
    "extrabold":  800,
    "black":      900,
    "extrablack": 950
  );

  @each $font-weight-name, $weight in $font-weight {
    .font-#{$font-weight-name} { font-weight: $weight !important; }
  }

  // Style

  .italic     { font-style: italic !important; }
  .not-italic { font-style: normal !important; }
}
