@use "../modules/gap";
@use "../modules/screen";

$enabled: true !default;
$responsive: true !default;
$scales: gap.$scales !default;

@if $enabled {
  @each $scale, $value in $scales {
    .gap-#{$scale} {
      gap: $value;
    }

    .gap-x-#{$scale} {
      column-gap: $value;
    }

    .gap-y-#{$scale} {
      row-gap: $value;
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $scale, $value in $scales {
        .#{$screen}\:gap-#{$scale} {
          gap: $value;
        }

        .#{$screen}\:gap-x-#{$scale} {
          column-gap: $value;
        }

        .#{$screen}\:gap-y-#{$scale} {
          row-gap: $value;
        }
      }
    }
  }
}
