@use "defaults" as default;

$enabled: true !default;
$prefix: "" !default;
$separator: "\\:" !default;
$important: true !default;
$responsive: true !default;

$screens: default.$screens !default;
$spacing: default.$spacing !default;
