@use "../modules/screen";

$enabled: true !default;
$responsive: screen.$responsive !default;

@if $enabled {
  @for $column from 1 through 12 {
    .col-span-#{$column} {
      grid-column: span $column / span $column;
    }
  }

  .col-span-full {
    grid-column: 1 / -1;
  }

  @for $column from 1 through 12 {
    .col-start-#{$column} {
      grid-column-start: $column;
    }
  }

  .col-start-auto {
    grid-column-start: auto;
  }

  @for $column from 1 through 12 {
    .col-end-#{$column} {
      grid-column-end: $column;
    }
  }

  .col-end-auto {
    grid-column-end: auto;
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @for $column from 1 through 12 {
        .#{$screen}\:col-span-#{$column} {
          grid-column: span $column / span $column;
        }
      }
    
      .#{$screen}\:col-span-full {
        grid-column: 1 / -1;
      }
    
      @for $column from 1 through 12 {
        .#{$screen}\:col-start-#{$column} {
          grid-column-start: $column;
        }
      }
    
      .#{$screen}\:col-start-auto {
        grid-column-start: auto;
      }
    
      @for $column from 1 through 12 {
        .#{$screen}\:col-end-#{$column} {
          grid-column-end: $column;
        }
      }
    
      .#{$screen}\:col-end-auto {
        grid-column-end: auto;
      }
    }
  }
}
