@use "sass:map";
@use "../modules/grid-template-columns";
@use "../modules/screen";

$enabled: true !default;
$responsive: screen.$responsive !default;
$templates: grid-template-columns.$templates !default;
$templates: map.merge($templates, (
  "none": none,
));

@if $enabled {
  @each $template, $value in $templates {
    .grid-cols-#{$template} {
      grid-template-columns: $value !important;
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $template, $value in $templates {
        .#{$screen}\:grid-cols-#{$template} {
          grid-template-columns: $value !important;
        }
      }
    }
  }
}
