@use "sass:map";
@use "../modules/height";
@use "../modules/screen";

$enabled: true !default;
$responsive: true !default;
$scale: map.merge(height.$height, (
  "auto": auto,
  "full": 100%,
  "screen": 100vh
)) !default;

@if $enabled {
  @each $name, $value in $scale {
    .h-#{$name} {
      height: $value !important;
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($responsive) {
      @each $name, $value in $scale {
        .#{$screen}\:h-#{$name} {
          height: $value !important;
        }
      }
    }
  }
}
