@use "sass:meta";
@use "sass:selector";

@function is($type, $data) {
  @return meta.type-of($data) == $type;
}

@function is-string($data) {
  @return is("string", $data);
}

@function is-bool($data) {
  @return is("bool", $data);
}

@function is-number($data) {
  @return is("number", $data);
}

@function is-function($data) {
  @return is("function", $data);
}

@function is-list($data) {
  @return is("list", $data);
}

@function is-map($data) {
  @return is("map", $data);
}

@function is-null($data) {
  @return is("null", $data);
}

@function important-selector($important) {
  @return if(is-string($important), $important, null);
}

@function important-rule($important) {
  @return if(is-bool($important) and ($important == true), !important, null);
}

@function make-selector($base, $name, $prefix: null, $important: false, $screen: null, $separator: null) {
  @if $screen and $separator {
    @return selector.parse(
      important-selector($important) + " ." + $screen + $separator + $prefix + $base + $name
    );
  } @else {
    @return selector.parse(
      important-selector($important) + " ." + $prefix + $base + $name
    );
  }
}
