@use "../mixins/inset" as *;

$enabled: true !default;

// stylelint-disable block-opening-brace-space-before -- Aligning block declaration of selectors

$scale: (
  "0": 0,
  "auto": auto
) !default;

@if $enabled {
  .inset-0      { @include inset-0(!important); }
  .inset-auto   { @include inset-auto(!important); }
  .inset-y-0    { @include inset-y-0(!important); }
  .inset-x-0    { @include inset-x-0(!important); }
  .inset-y-auto { @include inset-y-auto(!important); }
  .inset-x-auto { @include inset-y-auto(!important); }

  @each $side in (top, left, bottom, right) {
    @each $name, $value in $scale {
      .#{$side}-#{$name} {
        #{$side}: $value !important;
      }
    }
  }
}
