@use "../modules/screen";

$enabled: true !default;
$responsive: true !default;

$-justify-map: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly
);

@if $enabled {
  @each $justify, $value in $-justify-map {
    .justify-#{$justify} {
      justify-content: $value !important;
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $justify, $value in $-justify-map {
        .#{$screen}\:justify-#{$justify} {
          justify-content: $value !important;
        }
      }
    }
  }
}
