@use "../modules/screen";

$enabled: true !default;
$responsive: screen.$responsive !default;

$-position-list: (
  inside,
  outside,
);

@if $enabled {
  @each $position in $-position-list {
    .list-#{$position} {
      list-style-position: $position !important;
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $position in $-position-list {
        .#{$screen}\:list-#{$position} {
          list-style-position: $position !important;
        }
      }
    }
  }
}
