$enabled: true !default;
$scale: (
  "0": 0,
  "full": 100%,
  "screen": 100vh
) !default;

@if $enabled {
  @each $name, $value in $scale {
    .min-h-#{$name} {
      min-height: $value !important;
    }
  }
}
