@use "../modules/screen";

$enabled: true !default;
$responsive: screen.$responsive !default;

$-fit-list: (
  contain,
  cover,
  fill,
  none,
  scale-down,
);

@if $enabled {
  @each $fit in $-fit-list {
    .object-#{$fit} {
      object-fit: $fit !important;
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $fit in $-fit-list {
        .#{$screen}\:object-#{$fit} {
          object-fit: $fit !important;
        }
      }
    }
  }
}
