@use "../modules/screen";

$enabled: true !default;
$responsive: screen.$responsive !default;

$position-map: (
  "bottom": bottom,
  "center": center,
  "left": left,
  "left-bottom": (left bottom),
  "left-top": (left top),
  "right": right,
  "right-bottom": (right bottom),
  "right-top": (right top),
  "top": top,
) !default;

@if $enabled {
  @each $name, $value in $position-map {
    .object-#{$name} {
      object-position: $value !important;
    }
  }
}

@if $enabled and $responsive {
  @each $screen in screen.breakpoints() {
    @include screen.screen($screen) {
      @each $name, $value in $position-map {
        .#{$screen}\:object-#{$name} {
          object-position: $value !important;
        }
      }
    }
  }
}
