// stylelint-disable block-opening-brace-space-before -- Aligning block declaration of selectors

@use "sass:map";
@use "../modules/color";

$enabled: true !default;
$colors: color.$colors !default;

@if $enabled {
  // Color

  $colors: map.merge((
    "current": currentColor,
    "transparent": transparent
  ), $colors);

  @each $name, $value in $colors {
    .text-#{$name} {
      color: rgba($value, var(--text-opacity, 1)) !important;
    }
  }

  // Opacity

  $opacities: (0, 25, 50, 75, 100) !default;

  @each $value in $opacities {
    .text-opacity-#{$value} { --text-opacity: #{$value} !important; }
  }

  // Decoration

  .underline    { text-decoration: underline !important; }
  .line-through { text-decoration: line-through !important; }
  .no-underline { text-decoration: none !important; }

  // Transform

  @each $transform in (uppercase, capitalize, lowercase) {
    .#{$transform} { text-transform: $transform !important; }
  }

  .normal-case { text-transform: none !important; }
}
