@use "../functions/extend" as *;
@use "../modules/spacing";
@use "../modules/width";
@use "../modules/screen";

$enabled: true !default;
$responsive: true !default;
$scale: extend(spacing.$spacing, width.$width, (
  "auto": auto,
  "full": 100%,
  "screen": 100vw
)) !default;

@if $enabled {
  @each $name, $value in $scale {
    .w-#{$name} {
      width: $value !important;
    }
  }

  @if $responsive {
    @each $screen in screen.breakpoints() {
      @include screen.screen($screen) {
        @each $name, $value in $scale {
          .#{$screen}\:w-#{$name} {
            width: $value !important;
          }
        }
      }
    }
  }
}
