@use "../globals" as global;

$enabled: global.$enabled !default;
$prefix: global.$prefix !default;
$separator: global.$separator !default;
$important: global.$important !default;
$responsive: global.$responsive !default;
$screens: global.$screens !default;

$base: "box-";

$box-sizing: (
  "border": border-box,
  "content": content-box,
);
