@use "sass:map";

// Public helper function.
// Fills map with fraction keys and values.
// Keys has escaped forward slash symbol.
// Example:
//  arguments: $map: (), $denominator: 5
//  returns: ("1/5": 20%, "2/5": 40%, "3/5": 60%, "4/5": 80%)

@function fill-with-fractions($map, $denominator) {
  @for $numerator from 1 to $denominator {
    $map: map.set(
      $map,
      "#{$numerator}\\/#{$denominator}",
      $numerator / $denominator * 100%
    );
  }

  @return $map;
}

$width: ();

@each $denominator in (2, 3, 4, 5, 6, 12) {
  $width: fill-with-fractions($width, $denominator);
}
