@use "../globals" as global;

$enabled: global.$enabled !default;
$prefix: global.$prefix !default;
$separator: global.$separator !default;
$important: global.$important !default;
$responsive: global.$responsive !default;
$screens: global.$screens !default;

$position: (
  "static": static,
  "fixed": fixed,
  "absolute": absolute,
  "relative": relative,
  "sticky": sticky,
);
