// stylelint-disable property-no-unknown

@mixin aspect-ratio($value) {
  position: relative;

  &::before {
    display: block;
    padding-top: 100% / $value;
    content: "";
  }

  @supports (aspect-ratio: 1 / 1) {
    @if $value > 1 {
      aspect-ratio: $value / #{1};
    } @else {
      aspect-ratio: #{1} / $value;
    }

    &::before {
      content: initial;
    }
  }
}
