@use "sass:list";

@mixin _supports($inset) {
  @supports (inset: 1rem) {
    inset: $inset;
  }
}

// stylelint-disable declaration-colon-space-after -- Aligning properties values

@mixin inset($inset, $important: null) {
  $length: list.length($inset);
  $has-null: list.index($inset, null);

  @if ($length == 1) {
    top:    $inset $important;
    left:   $inset $important;
    right:  $inset $important;
    bottom: $inset $important;
  } @else if ($length == 2) {
    $y: list.nth($inset, 1);
    $x: list.nth($inset, 2);

    top:    if($y, $y $important, null);
    left:   if($x, $x $important, null);
    right:  if($x, $x $important, null);
    bottom: if($y, $y $important, null);
  } @else if ($length == 3) {
    $t: list.nth($inset, 1);
    $x: list.nth($inset, 2);
    $b: list.nth($inset, 3);

    top:    $t $important;
    left:   $x $important;
    right:  $x $important;
    bottom: $b $important;
  } @else if ($length == 4) {
    $t: list.nth($inset, 1);
    $l: list.nth($inset, 2);
    $b: list.nth($inset, 3);
    $r: list.nth($inset, 4);

    top:    $t $important;
    left:   $l $important;
    bottom: $b $important;
    right:  $r $important;
  }

  @if not ($has-null) {
    @include _supports($inset $important);
  }
}

@mixin inset-0($important) {
  @include inset(0, $important);
}

@mixin inset-auto($important) {
  @include inset(auto, $important);
}

@mixin inset-y-0($important) {
  @include inset(0 null, $important);
}

@mixin inset-x-0($important) {
  @include inset(null 0, $important);
}

@mixin inset-y-auto($important) {
  @include inset(auto null, $important);
}

@mixin inset-x-auto($important) {
  @include inset(null auto, $important);
}
