@mixin padding-y($value, $important: null) {
  padding-top: $value $important;
  padding-bottom: $value $important;
}

@mixin padding-x($value, $important: null) {
  padding-left: $value $important;
  padding-right: $value $important;
}

@mixin margin-y($value, $important: null) {
  margin-top: $value $important;
  margin-bottom: $value $important;
}

@mixin margin-x($value, $important: null) {
  margin-left: $value $important;
  margin-right: $value $important;
}

@mixin spacing-x($value, $important: null) {
  margin-left: $value $important;
}

@mixin spacing-y($value, $important: null) {
  margin-top: $value $important;
}
