@use "../globals" as global;

$enabled: global.$enabled !default;
$prefix: global.$prefix !default;
$separator: global.$separator !default;
$important: global.$important !default;
$responsive: global.$responsive !default;
$screens: global.$screens !default;

$base: "overflow-";

$overflow: (
  "auto": auto,
  "hidden": hidden,
  "visible": visible,
  "scroll": scroll,
);
