@use "config";
@use "../helpers";

@if config.$enabled {
  @each $name, $value in config.$overflow {
    #{helpers.make-selector(
      $base: config.$base,
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      overflow:
        $value
        helpers.important-rule(config.$important);
    }

    #{helpers.make-selector(
      $base: "#{config.$base}x-",
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      overflow-x:
        $value
        helpers.important-rule(config.$important);
    }

    #{helpers.make-selector(
      $base: "#{config.$base}y-",
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      overflow-y:
        $value
        helpers.important-rule(config.$important);
    }
  }
}

@if config.$enabled and config.$responsive {
  @each $screen, $query in config.$screens {
    @media #{$query} {
      @each $name, $value in config.$overflow {
        #{helpers.make-selector(
          $base: config.$base,
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          overflow:
            $value
            helpers.important-rule(config.$important);
        }

        #{helpers.make-selector(
          $base: "#{config.$base}x-",
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          overflow-x:
            $value
            helpers.important-rule(config.$important);
        }

        #{helpers.make-selector(
          $base: "#{config.$base}y-",
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          overflow-y:
            $value
            helpers.important-rule(config.$important);
        }
      }
    }
  }
}
