@use "../globals" as global;

$enabled: global.$enabled !default;
$prefix: global.$prefix !default;
$separator: global.$separator !default;
$important: global.$important !default;
$responsive: global.$responsive !default;
$screens: global.$screens !default;

$base: "items-";

$align-items: (
  "center": center,
  "baseline": baseline,
  "stretch": stretch,
  "start": flex-start,
  "end": flex-end,
);
