@use "config";
@use "../helpers";

@if config.$enabled {
  @each $name, $value in config.$visibility {
    #{helpers.make-selector(
      $base: null,
      $prefix: config.$prefix,
      $name: $name,
      $important: config.$important
    )} {
      visibility:
        $value
        helpers.important-rule(config.$important);
    }
  }
}

@if config.$enabled and config.$responsive {
  @each $screen, $query in config.$screens {
    @media #{$query} {
      @each $name, $value in config.$visibility {
        #{helpers.make-selector(
          $base: null,
          $prefix: config.$prefix,
          $name: $name,
          $important: config.$important,
          $screen: $screen,
          $separator: config.$separator
        )} {
          visibility:
            $value
            helpers.important-rule(config.$important);
        }
      }
    }
  }
}
