@use "../globals" as global;

$enabled: global.$enabled !default;
$prefix: global.$prefix !default;
$separator: global.$separator !default;
$important: global.$important !default;
$responsive: global.$responsive !default;
$screens: global.$screens !default;

$display: (
  "block": block,
  "inline-block": inline-block,
  "inline": inline,
  "flex": flex,
  "inline-flex": inline-flex,
  "table": table,
  "table-caption": table-caption,
  "table-cell": table-cell,
  "table-column": table-column,
  "table-column-group": table-column-group,
  "table-footer-group": table-footer-group,
  "table-header-group": table-header-group,
  "table-row-group": table-row-group,
  "table-row": table-row,
  "flow-root": flow-root,
  "grid": grid,
  "inline-grid": inline-grid,
  "contents": contents,
  "hidden": none,
);
